body {
    background-color: #ffffff;
}

.hidden{
    display: none !important;
}

p {
    color: #000000;
    font-family: "Robot";
}

h1{
    font-family: "Roboto";
    color: #000000;
}

h2{
    font-family: "Roboto";
    color: #000000;
}

h3{
    font-family: "Roboto";
}

ul{
    font-family: "Robot";

}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    display: block;
    padding: 16px 16px 16px 16px;

    background-color: rgb(255, 255, 255);
    color: #000000;

    font-size: 140%;
    font-weight: bold;
    text-decoration: none;
    font-family: "Robot";
  }

  nav ul li a:hover {
    padding-left: 8px;
    background-color: #f9ece0;
    border-left: 8px solid #ffca9e;
  }
  .menu{
    display:flex;
    flex-direction: row;
  }
  .NAVMENU{
    border-radius: 0%;
    border: 1px solid rgb(0, 0, 0);
  }
  .background-img{
    object-fit: cover;
  }
  #my-name{
    margin-left: 15px;
    flex-grow: 3;
    }

  @media (max-width: 1000px) {
    nav ul li{
      list-style: none;
      display: list-item;
      margin-right: 10px;
  }
  }


  .aboutMe{
    display: flex;
    flex-direction: row;
  }
  .myPic{
    max-width: fit-content;
    height: auto;
  }
