body {
    background-color: #f3f3f3;
}

p {
    color: #000000;
    font-family: Tahoma, Verdana, sans-serif;
}

h1{
    font-family: "Roboto";
    color: #6697c2;
}

h2{
    font-family: "Roboto";
    color: #6697c2;
}

h3{
    font-family: "Roboto";
}

ul{
    font-family: Tahoma, Verdana, sans-serif;

}
